{% extends 'layout.html' %}

{% block title %} Sheffield foodbank finder {% endblock %}

{% block search %}

        <div>
            <form name="myForm" action="" method="post" onsubmit="">

            <label for="color">Choose marker color:</label>
            <input type="radio" name="color" value="red">Red
            <input type="radio" name="color" value="blue">Blue
            <input type="radio" name="color" value="green">Green

            <label for="postcode">Choose postcode:</label>
            <select name="postcode" method="GET" action="/">
                <option value="{{pc_list[0]}}" selected>{{pc_list[0]}}</option>
                {% for postcode in pc_list[1:] %}
                  <option value="{{postcode}}">{{postcode}}</option>
                {% endfor %}
            </select>

            <label for="pcode">Choose postcode:</label>
            <input type="text" id="pcode" size="5">
            <script>
                $( function() {
                    var availableTags = [
                        {% for pcode in pc_list %}
                            "{{pcode}}",
                        {% endfor %}
                    ];
                    $( "#pcode" ).autocomplete({
                    source: availableTags
                    });
                } );
            </script>


            <label for="range_val">Choose feasible travel range:</label>
            <input type="range" min="0" max="100" value = '100' name="travel_range"
              onchange="updateValue(this.value)" size = "10"/>
              <form method="POST">
                <input type="text" id="range_val" name="range_val" readonly size="2">
            </form>
              <script>
                function updateValue(val) {
                    document.getElementById("range_val").value = val*val/100;
                }
            </script>

            <br>
            <input type="submit" value="Search" />
        </form>

        <form method="POST">
            <label for="coords">Coordinates:</label>
            <input type="text" id="coords" name="coords" readonly>
        </form>
    </div>


{% endblock %}

{% block results %}
<div id="map" style="height: 500px;"></div>
<script>
    var map = L.map('map').setView([53.4, -1.4], 11);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
    }).addTo(map);

    var marker;
    map.on('click', function(e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng).addTo(map);
        $('#lat-input').val(e.latlng.lat);
        $('#lng-input').val(e.latlng.lng);
        document.getElementById('coords').value = e.latlng.toString()
    });
</script>
</div>
{% endblock %}
