{% extends 'layout.html' %}

{% block title %} Sheffield foodbank finder - about {% endblock %}

{% block search %}
<br>
<div>
    <h2>Foodfinder App</h2>
    <ul>
        <li><a href="https://github.com/OzwaldCavendish/foodfinder">GitHub repository</a></li>
        <li><a href="https://heroku.com">Hosted using heroku</a></li>
    </ul>
</div>

{% endblock %}

{% block results %}
<br>
<div>
    <hr>
    <h2>This application</h2>
    <p> Was created on behalf of
        <a href="https://sheffield.cityofsanctuary.org/">City of Sanctuary, Sheffield</a>
    by volunteers from the
        <a href="https://datasciencecampus.ons.gov.uk/">Office for National Statistics, Data Science Campus</a>.
    </p>
    <p>
        While our volunteers try to keep the underlying data up-to-date, it is possible that we have missed foodbanks
        operating in the Sheffield area, or are unaware of changes to their circumstances, proceedures or opening hours.
        Please always contact the foodbank in advance of making referrals or travelling for help.
    </p>
    <p>
        The website's underlying dataset, which we maintain manually, can be downloaded in full from <a href={{ url_for("static", filename="foodbanks.csv") }}>here</a>.
    </p>
    <hr>
    <h2>Organisations</h2>
    <p>With thanks to the VAS new beginnings project, City of Sanctuary Sheffield, SAVTE, Citizens Advice Sheffield, Sheffield City Council, and Solace. This project is part funded by the EU Asylum, Migration and Integration Fund. Making management of migration flows more efficient across the European Union.</p>
    <img src={{ url_for('static', filename='img/spring_logos_all.png') }}
         style="height: 65px;"
         title="With thanks to the VAS new beginnings project, City of Sanctuary Sheffield, SAVTE, Citizens Advice Sheffield, Sheffield City Council, and Solace."
         alt="A series of logos for the VAS new beginnings project, City of Sanctuary Sheffield, SAVTE, Citizens Advice Sheffield, Sheffield City Council, and Solace." />
    <img src={{ url_for('static', filename='img/EU_stars.png') }}
         style="height: 65px;"
         title="This project is part funded by the EU Asylum, Migration and Integration Fund. Making management of migration flows more efficient across the European Union."
         alt="The EU stars flag: This project is part funded by the EU Asylum, Migration and Integration Fund. Making management of migration flows more efficient across the European Union." />
</div>

{% endblock %}