{% extends 'layout.html' %}

{% block title %} Sheffield foodbank finder - about {% endblock %}

{% block search %}
<br>
<div>
    <h2>Contact details</h2>
    <ul>
        <li>Email: <a href="mailto:springvolunteer@sheffield.cityofsanctuary.org">springvolunteer@sheffield.cityofsanctuary.org</a></li>
        <li>Phone: <a href="tel:+441142211845">0114 221 1845</a></li>
        <li>Website: <a href="https://sheffield.cityofsanctuary.org/">sheffield.cityofsanctuary.org/</a></li>
        <li>Address: The Sanctuary, 37-39 Chapel Walk, Sheffield, S1 2PD</li>
    </ul>
</div>
{% endblock %}

{% block results %}
<br>
<div>
    <h2>Is something wrong with this website?</h2>
    <p>
        Please <a href="mailto:springvolunteer@sheffield.cityofsanctuary.org">email us</a> describing the error, and we will look in to the issue.  Thank you
        for helping us keep up and running!
    </p>
    <h2>Do you need help?</h2>
    <p>
        City of Sanctuary Sheffield is an independent charity working in solidarity with people seeking sanctuary in Sheffield.  In 2007, with the support of the City Council, Sheffield became the UK's first City of Sanctuary for asylum-seekers and refugees - a city that takes pride in the welcome it offers to people in need of safety.
    </p>
    <p>
        You can find out more about what the Sanctuary does <a href="https://sheffield.cityofsanctuary.org/our-projects/current-opening-times-2022/">here</a>.
        The opening hours can be found <a href="https://sheffield.cityofsanctuary.org/our-projects/current-opening-times-2022/">here</a>.
    </p>
    <p>
        And of course, feel free to contact us!
    </p>
</div>
{% endblock %}