<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Provide something</title>
</head>
<body>
    <hr>
    <div id="input">
        <form action={{ url_for("upload") }} method="POST" 
            enctype="multipart/form-data">
            <table>
                <tr>
                <td><label for="fav_color">Favourite color</label></td>
                <td><input type="text" id="fav_color" name="fav_color" value="Orange"/></td>
                </tr>
                <tr>
                <td><label for="fav_num">Favourite number</label></td>
                <td><input type="number" id="fav_num" name="fav_num" value="3"/></td>
                </tr>
                <tr>
                <td><input type="submit"/></td>
                </tr>
            </table>
        </form> 
    </div>
    <hr>
</body>