{% extends 'layout.html' %}

{% block title %} Sheffield foodbank finder {% endblock %}

{% block search %}
<body onload="updateValue(30)">
        <div>
            <form name="myForm" onsubmit="{{ url_for('index') }}" action="/" method="POST"
            enctype="multipart/form-data">

            <label for="query_type"><h2>Visit food bank</h2></label>
            <br>
            <h5>
            <input type="radio" name="query_type" value="ASAP"> as soon as possible, or
            <br>
            <input type="radio" name="query_type" value="nearest" checked>  on these specific days:
            </h5>
                  <input type="checkbox" id="mon" name="Monday" checked>
                  <label for="mon">Mon &ensp;</label>
                  <input type="checkbox" id="tue" name="Tuesday" checked>
                  <label for="tue">Tue &ensp;</label>
                  <input type="checkbox" id="wed" name="Wednesday" checked>
                  <label for="wed">Wed &ensp;</label>
                  <input type="checkbox" id="thu" name="Thursday" checked>
                  <label for="thu">Thu &ensp;</label>
                  <input type="checkbox" id="fri" name="Friday" checked>
                  <label for="fri">Fri &ensp;</label>
                  <br>
                  <input type="checkbox" id="sat" name="Saturday" checked>
                  <label for="sat">Sat &ensp;</label>
                  <input type="checkbox" id="sun" name="Sunday" checked>
                  <label for="sun">Sun &ensp;</label>
            <br>
            <br>
            <label for="query_type"><h5>From location:</h5></label>
            <br>
            <script>
                function checkPostcode(val) {
                    if ([{% for pcode in pc_list %}
                            "{{pcode}}",
                        {% endfor %}
                    ].includes(val)) {
                        document.getElementById("check_mark").innerHTML = '&#10004' ;
                        document.querySelector('input[name="query_location"][value="postcode"]').checked = true;
                    }
                    else document.getElementById("check_mark").innerHTML = '&#10060' ;
                }
            </script>

            <input type="radio" name="query_location" value="postcode" checked> <label for="pcode">Choose a postcode:</label>
            <input type="text" id="pcode" name="pcode" size="5" value="{{ request.form['pcode'] }}"
                oninput="checkPostcode(this.value)"
                onclick="checkPostcode(this.value)"
                onchange="checkPostcode(this.value)">
            <p id="check_mark" style="display:inline"></p>
            <script>
                $( function() {
                    var availableTags = [
                        {% for pcode in pc_list %}
                            "{{pcode}}",
                        {% endfor %}
                    ];
                    $( "#pcode" ).autocomplete({
                    source: availableTags
                    });
                } );
            </script>

            <br>
            <input type="radio" name="query_location" value="coords" >
            <label for="coords">Map coordinates (click then search):</label>
            <input type="text" id="coords" name="coords" readonly size = "11" value="{{ request.form['coords'] }}" hidden>

            <br>
            <br>
            <script>
                function updateValue(val) {
                    // document.getElementById("range_val").value = Math.round(val*val*val/1000)/10;
                    document.getElementById("range_val").value = val;
                }
            </script>
            <label for="travel_range"><h5>Within feasible travel range:</h5></label>
            <input type="range" min="1" max="30" value = '30' name="travel_range"
              onchange="updateValue(this.value)"/>

            <input type="text" id="range_val" name="range_val" readonly size="1">km
            <br>
            <br>
            <input type="submit" value="Search"/>
        </form>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endblock %}


{% block results %}
<div id="map" style="height: 500px;"></div>
<script>
    var map = L.map('map').setView([{{map_centre[0]}}, {{map_centre[1]}}], {{map_zoom}});
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
    }).addTo(map);

    var marker;
    marker  = L.marker([{{ marker[0] }}, {{ marker[1] }}],
        {icon: L.ExtraMarkers.icon({
            icon: 'fa-number',
            number: 0,
            markerColor: 'pink'
        })}).addTo(map);

    map.on('click', function(e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng,
        {icon: L.ExtraMarkers.icon({
            icon: 'fa-number',
            number: 0,
            markerColor: 'pink'
        })}).addTo(map);
        $('#lat-input').val(e.latlng.lat);
        $('#lng-input').val(e.latlng.lng);
        document.getElementById('coords').value = e.latlng.toString()
        document.querySelector('input[name="query_location"][value="coords"]').checked = true;
    });

    {% for i in range(0, df.shape[0]) %}
    L.marker([{{ df.loc[i, 'lat'] }}, {{ df.loc[i, 'long'] }}],
        {icon: L.ExtraMarkers.icon({
            icon: 'fa-number',
            number: {{i+1}},
            markerColor: "{{ df.loc[i, 'color'] }}"
        })}).addTo(map)
        .bindPopup('{{ df.loc[i, 'name'] }}');
    {% endfor %}

</script>

</div>
<div class="container">
    <table>
      {{ foodbanks|safe }}
    </table>
</div>

{% endblock %}
