<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>{% block title %} {% endblock %}</title>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
      <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />


        <script src="{{ url_for('static', filename='js/leaflet.extra-markers.min.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.extra-markers.min.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">FoodFinder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href= {{ url_for("about") }}>About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= {{ url_for("contact") }}>Contact</a>
              </li>
            </ul>
        </div>
    </nav>
    <div class="container">
      <div id="input" style="width: 25%; float:left; min-width:300px">
        {% block search %} {% endblock %}
      </div>
      <div id="output" style="float:center; min-width: 400px">
          {% block results %} {% endblock %}
      </div>
    </div>
    <div class="buffer">
      <footer>
          <address>
              <p><b>Run on behalf of City of Sanctuary Sheffield</b>, The Sanctuary, 37-39 Chapel Walk, Sheffield, S1 2PD</p>
              <p><a class="footerlink" href="mailto:admin@sheffield.cityofsanctuary.org">admin@sheffield.cityofsanctuary.org</a>, <a class="footerlink" href="tel:+441142211845">0114 221 1845</a></p>
          </address>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/activator.js') }}"></script>
  </body>
</html>
